body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.navbar {
display: block;
justify-content: center;
align-items: center;
background-color: white;
padding: 10px 0;
border-bottom: 1px solid #ddd;
}
.navbar a {
text-decoration: none;
color: black;
margin: 0 15px;
position: relative;
padding: 5px 0;
}
.navbar a::after {
content: '\25BC';
font-size: 10px;
position: absolute;
right: -10px;
top: 50%;
transform: translateY(-50%);
}
.navbar a:last-child::after {
content: '';
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
/*close navbar*/

.main-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}
.info-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.info-poster {
    width: 50%;
    height: 50%;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.info-poster.blue {
    background-color: #007bff;
    color: #fff;
    height: 50%;
}
.info-poster h3 {
    margin-top: 0;
}
.job-section {
    background-color: #00bcd4;
    padding: 20px;
    color: #fff;
}
.job-section h2 {
    margin-top: 0;
}
.job-section .job-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.job-section .job-content .job-poster {
    width: 20%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
}
.job-section .job-content .job-poster img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.job-section .register-button {
    background-color: #fff;
    color: #00bcd4;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.job-section .navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.job-section .navigation i {
    cursor: pointer;
}

  /*Footer*/
main {
background-color: #00BFFF;
color: white;
font-family: 'Arial', sans-serif;
text-align: center;
margin: 0;
padding: 0;
}
.container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}
.logo {
width: 150px;
height: 150px;
background-size: contain;
}
.menu {
display: flex;
justify-content: space-around;
width: 100%;
}
.menu-item {
text-align: left;
}
.menu-item h3 {
font-size: 24px;
margin: 0;
}
.menu-item ul {
list-style: none;
padding: 0;
margin: 0;
}
.menu-item ul li {
font-size: 18px;
margin: 5px 0;
}
.footer {
position: relative;
bottom: 10px;
width: 100%;
text-align: left;
font-size: 14px;
line-height: 50px;
padding-left: 20px;
}